<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link
      rel="stylesheet"
      ,
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>New Company Page</h1>
    <div class="container">
      <form action="/company" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" /><br />
        <label for="logo:">logo:</label>
        <input type="text" name="logo:" id="logo:" /><br />
        <label for="address:">address:</label>
        <input type="text" name="address:" id="address:" /><br />
        <label for="city:">city:</label>
        <input type="text" name="city:" id="city:" /><br />
        <label for="telephone:">telephone:</label>
        <input type="text" name="telephone:" id="telephone:" /><br />
        <label for="createdAt:">createdAt:</label>
        <input type="date" name="createdAt:" id="createdAt:" /><br />
        <label for="updatedAt:">updatedAt:</label>
        <input type="date" name="updatedAt:" id="updatedAt:" /><br />

        <label for="driver:">driver:</label>
        <br />
        <label for="name:">name:</label>
        <input type="text" name="name:" id="name:" /><br />
        <label for="name:">age:</label>
        <input type="text" name="age:" id="age:" /><br />
        <label for="image:">image:</label>
        <input type="text" name="image:" id="image:" /><br />
        <br />

        <label for="car:">car:</label>
        <br />
        <label for="name:">name:</label>
        <input type="text" name="name:" id="name:" /><br />
        <label for="model:">model:</label>
        <input type="text" name="model:" id="model:" /><br />
        <label for="year:">year:</label>
        <input type="text" name="year:" id="year:" /><br />
        <label for="image:">image:</label>
        <input type="text" name="image:" id="image:" /><br />

        <input type="submit" class="btn btn-primary" value="Create Company" />
      </form>
    </div>
  </body>
</html>
